{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="card shadow p-5">

        <h1 class="text-primary">
            IBM Naukri AI
        </h1>

        <hr>

        <h4>AI Powered Career Guidance Platform</h4>

        <p>
            IBM Naukri AI is an intelligent recruitment platform developed
            using Flask and IBM watsonx.ai. It helps users improve resumes,
            analyze ATS score, receive AI job recommendations,
            prepare for interviews, and track job applications.
        </p>

    </div>

</div>

{% endblock %}